html {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.space {
    padding: 40%;
}  

.btn {
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem .5rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
}